.row(style='padding-top: 40px; margin-right: 20px;margin-left: 20px; background-color: white; margin-top: 20px; padding-bottom: 70px;')
	.col-md-12
		.col-md-12
			.col-md-12
				h1.display-6.text-center(style='color: black;')
					b Programacion Academica
				hr(style='border:1px solid #dae0e5;')
			.col-md-12
				.row
					.col-md-12
						.table-responsive
							table#example.table.table-striped.table-bordered(style='width:100%')
								thead(align='center')
									tr
										th(colspan='6') Programacion del año 2018
									tr
										th Codigo
										th Asignatura
										th Dias
										th Seccion
										th HI
										th HF
								tbody(align='center')
									tr
										td EG011
										td ESPANOL GENERAL
										td LuMaMiJu
										td 1300
										td 1300
										td 1400
