#barraPrincipal{
	background-color: yellow;
    border-bottom: yellow solid;
}

.bg-light {
    background-color: #003399!important;
}

.navbar{

    border-bottom: yellow solid;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    
    color: #e4ed43;
}

.navbar-light .navbar-nav .nav-link {
    color: #f8f9fa;
}

#Barra{
    padding: 20px;
}

#Barra img{
    height: 140px;
}


#SupportedContent h1{
	color:  white;
	padding: 20px;
    font-family: 'Marcellus SC', serif;
}

#avisos-main{
    margin-top:  40px;
}

#avisos{
    padding-top: 20px;
}

#avisos-main h1{
    font-family: 'Marcellus SC', serif;
}

#avisos figure{
    text-align: center;
}

#avisos figure figcaption{
    text-align: left;
}

#avisos figure img{
    width: 300px;
    height: 250px;
}

.footer{
	background-color: yellow;
    border-top: yellow solid;
}

#piePagina{
    padding: 20px;
    color: white
}

#piePagina #title{
    color: yellow;
}

#piePagina #contacts img{
    height: 50px;
    width: 50px;
}

.login{
    border:1px solid #dae0e5;
    padding: 30px;
    margin:40px;
}

#btn-login:hover {
    color: black;
    background-color: yellow;
    border-color: yellow;
}

#MenuPrincipal{
    padding: 60px 0px;
    border:2px solid #dae0e5;
    margin:40px 0px;
}

#MenuPrincipal img{
    width: 80px;
    height: 80px;
}

#MenuPrincipal div{
    margin :10px;
}

#Menu{
    padding: 60px 0px;
    border:2px solid #dae0e5;
    margin:40px 0px;
}

#Menu img{
    width: 50px;
    height: 50px;
}

#Menu div{
    margin :10px;
}

.main_registro{
    padding-top: 20px;
    padding-bottom: 50px;
}

.main_regEstudiante{
    /*ckground-image: url(https://criterio.hn/wp-content/uploads/2017/09/unah-2.jpg);*/
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#reg_Estudiante{
    border: 2px solid #dae0e5;
    padding: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}


.main_regEmpleado{
    /*ckground-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKU3RG4WyvQnRt5OJkjR2n4lALYeTaulPQ-jOP89G4UyzOzxJK);*/

    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#SubMenu a img{
    width: 50px;
    height: 50px;
}



.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #f8f9fa;
    background-color: #ffff2f;
}

#MenuBar a img{
    width: 50px;
    height: 50px;
}

#menu h1{
    font-family: 'Amatic SC', cursive;
    font-size: 90px;
}

.tab-content h1{
    color:white;
}

#example{
    background-color: white;
}

@media (min-width: 992px){
    .modal-lg {
        max-width: 95%;
    }
}
@media (min-width: 576px){
    .modal-dialog {
        max-width: 95%;
        margin: 1.75rem auto;
    }
}