.footer
      div(style='background-color: rgba(0,0,0,0.9);')
        .container
          #piePagina.col-md-12
            .row
              #title.col-xl-6
                h6.text-left.text-uppercase Universidad Nacional Autonoma de Honduras
            hr(style='border-color: white;')
            .row
              #logo.col-12.col-sm-4.col-md-7.col-lg-8.col-xl-9
                img.img-fluid(src='img/logo-unah-blanco.png')
              #contacts.col-12.col-sm-8.col-md-5.col-lg-4.col-xl-3
                .col-xl-12
                  a(href='')
                    img.img-fluid(src='img/logo face redondo.png', alt='Resposive image')
                  | Registro DIIP-UNAH
                .col-xl-12
                  img.img-fluid(src='img/ICONO TELEFONO.png', alt='Resposive image')
                  | 								2232-6862/2232-5496
            .row(style='padding-top: 20px;')
              .col-xl-12
                h6.text-center Derechos reservados Universidad Nacional Autónoma de Honduras 2017
              .col-xl-12
                h6.text-center Desarrollado por Hanier Rodas