doctype html
html
  head
    title Crear Seccion
    meta(charset='utf-8')
    link(rel='icon', href='./img/favicon.jpg', type='image/jpg')
    link(rel='stylesheet', href='./css/bootstrap.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='./css/misestilos.css')
    link(href='https://fonts.googleapis.com/css?family=Marcellus+SC', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Chicle', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Amatic+SC', rel='stylesheet')
    link(href='https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css', rel='stylesheet')
  body

    include ./Components/navbar.jade

    nav(aria-label='breadcrumb')
        ol.breadcrumb
            li.breadcrumb-item
                a(href='/') Inicio
            li.breadcrumb-item
                a(href='jefeDepartamento') jefe Departamento
            li.breadcrumb-item.active(aria-current='page') Asignaturas

    .container-fluid
        .col-md-12
            h1#TituloAsignatura.display-6.text-center
            hr(style='border:1px solid #dae0e5;')
            .row.justify-content-md-center.main_regEmpleado
            #reg_Estudiante.col-md-12
                table#tbl-asignaturaFacultad.table.table-striped.table-bordered(style='width:100%')
                    thead
                        tr
                        th #
                        th Codigo Alterno
                        th Asignatura
                        th UV
                        th Carrera
                        th Dias
                        th Tipo
                        th Requisitos
                    tbody

    include ./Components/footer.jade

script(src='./js/jquery-3.3.1.min.js')
script(src='./js/popper.min.js')
script(src='./js/bootstrap.min.js')
script(src='./js/popper.min.js')
script(src='./js/Controlador_jefeDepartamento.js')
    