doctype html
html
  head
    title Registro de Facultades
    meta(charset='utf-8')
    link(rel='icon', href='./img/favicon.jpg', type='image/jpg')
    link(rel='stylesheet', href='./css/bootstrap.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='./css/misestilos.css')
    link(href='https://fonts.googleapis.com/css?family=Marcellus+SC', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Chicle', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Amatic+SC', rel='stylesheet')
  body

    include ./Components/navbar.jade

    nav(aria-label='breadcrumb')
        ol.breadcrumb
            li.breadcrumb-item
                a(href='/') Inicio
            li.breadcrumb-item
                a(href='direccionAcademica') Direccion Academica
            li.breadcrumb-item.active(aria-current='page') Facultades
    .container-fluid
        .col-md-12
            h1.display-6.text-center
                b Facultades
            hr(style='border:1px solid #dae0e5;')
            .row.justify-content-md-center.main_regEmpleado
                .col-md-12(style=' padding: 20px;')
                    .form-group.row.text-center
                        .col-sm-12
                            button.btn.btn-success.btn-lg(type='button', onclick='removerValidacionesFacultad()', data-toggle='modal', data-target='#registrarFacultad')
                                i.fa.fa-user-plus
                                |  Registrar
                        #reg_Estudiante.col-md-12
                            .row.justify-content-md-center
                                .col-md-8
                                    table#table-facultades.table.table-striped.table-bordered
                                        thead
                                            tr
                                            th #
                                            th Nombre
                                            th Descripcion
                                        tbody
    #registrarFacultad.modal.fade
        .modal-dialog
            .modal-content
                // Modal Header
                .modal-header
                    h4.modal-title Agregar Facultad
                    button.close(type='button', data-dismiss='modal') ×
                // Modal body
                .modal-body
                        form#form-Facultad
                        .form-group
                            label(for='txt-nombreFacultad') Nombre de la Facultad
                            input#txt-nombreFacultad.form-control(type='text', placeholder='Escriba el nombre de la Facultad')
                            .valid-feedback Correcto
                            .invalid-feedback Escriba el numero de la Facultad
                        .form-group
                            label(for='txt-descripcionFacultad') Descripcion
                            textarea#txt-descripcionFacultad.form-control(placeholder='Describa la Facultad')
                // Modal footer
                .modal-footer
                    div(style='text-align: center;')
                    button.btn.btn-danger(type='button', data-dismiss='modal') Close
                    button#btn_registrarFacultad.btn.btn-primary(onclick='guardarFacultad()', type='button') Registrar Facultad


    include ./Components/footer.jade

    script(src='./js/jquery-3.3.1.min.js')
    script(src='./js/popper.min.js')
    script(src='./js/bootstrap.min.js')
    script(src='./js/ControladorDir_Academica.js') 