doctype html
html
  head
    title Registro de Facultades
    meta(charset='utf-8')
    link(rel='icon', href='./img/favicon.jpg', type='image/jpg')
    link(rel='stylesheet', href='./css/bootstrap.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='./css/misestilos.css')
    link(href='https://fonts.googleapis.com/css?family=Marcellus+SC', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Chicle', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Amatic+SC', rel='stylesheet')
  body

    include ./Components/navbar.jade

    nav(aria-label='breadcrumb')
        ol.breadcrumb
            li.breadcrumb-item
                a(href='/') Inicio
            li.breadcrumb-item
                a(href='direccionAcademica') Direccion Academica
            li.breadcrumb-item.active(aria-current='page') Carreras
    .container-fluid
        .col-md-12
            h1.display-6.text-center
                b#title Carreras
            hr(style='border:1px solid #dae0e5;')
            .row.justify-content-md-center.main_regEmpleado
                .col-md-12(style=' padding: 20px;')
                    .form-group.row.text-center
                        .col-sm-12
                            button#btn-registrar.btn.btn-success.btn-lg(type='button', onclick='removerValidacionesCarrera()', data-toggle='modal', data-target='#registrarCarrera')
                                i.fa.fa-user-plus
                                |  Registrar
                            button#btn-agregar.btn.btn-success.btn-lg.d-none(type='button', onclick='removerValidacionesPlan()', data-toggle='modal', data-target='#agregarAsignatura')
                                i.fa.fa-user-plus
                                |  Agregar Clases    
                #reg_Estudiante.col-md-12
                    table#tbl-carreras.table.table-striped.table-bordered(style='width:100%')
                        thead
                            tr
                            th #
                            th Carrera
                            th Asignaturas
                            th UV
                            th Facultad
                            th Grado
                            th Plan
                        tbody
                    table#tbl-planEstudio.table.table-striped.table-bordered(style='width:100%')
                        thead
                            th #
                            th Codigo Alterno
                            th Asignatura
                            th UV
                            th Carrera
                            th Dias
                            th Tipo
                            th Requisitos
                        tbody    
    #registrarCarrera.modal.fade
        .modal-dialog
            .modal-content
                // Modal Header
                .modal-header
                    h4.modal-title Agregar Carrera
                    button.close(type='button', data-dismiss='modal') ×
                // Modal body
                .modal-body
                    form
                        .form-group
                            label(for='txt-codigoAuxiliar') Codigo Auxiliar
                            input#txt-codigoAuxiliar.form-control(type='text', placeholder='Escriba el codigo')
                            .valid-feedback Correcto
                            .invalid-feedback Escriba el codigo de la Carrera
                        .form-group
                            label(for='txt-nombreCarrera') Nombre de la Carrera
                            input#txt-nombreCarrera.form-control(type='text', placeholder='Escriba el nombre de la Carrera')
                            .valid-feedback Correcto
                            .invalid-feedback Escriba el nombre de la Carrera
                        .form-group
                            label(for='select-grado') Grado
                            select#select-grado.custom-select
                                option(value='0', selected='') Seleccione un Grado
                            .valid-feedback Correcto
                            .invalid-feedback Seleccione el Grado
                        .form-group
                            label(for='select-facultad') Facultad
                            select#select-facultad.custom-select
                                option(value='0', selected='') Seleccione una Facultad
                            .valid-feedback Correcto
                            .invalid-feedback Seleccione la Facultad
                        .form-group
                            label(for='txt-cantAsignatura') Cantidad de Asignaturas
                            input#txt-cantAsignatura.form-control(type='number', placeholder='Escriba la Cantidad de Asignaturas')
                            .valid-feedback Correcto
                            .invalid-feedback Escriba la Cantidad de Asignaturas
                        .form-group
                            label(for='txt-uv') Cantidad de Unidades Valorativas
                            input#txt-uv.form-control(type='number', placeholder='Escriba la Cantidad de Unidades Valorativas')
                            .valid-feedback Correcto
                            .invalid-feedback Escriba la Cantidad de Unidades Valorativas
                // Modal footer
                .modal-footer
                    div(style='text-align: center;')
                    button.btn.btn-danger(type='button', data-dismiss='modal') Close
                    button#btn_registrarCarrera.btn.btn-primary(onclick='guardarCarrera()', type='button') Registrar Carrera

    #agregarAsignatura.modal.fade
        .modal-dialog
            .modal-content
                // Modal Header
                .modal-header
                    h4.modal-title Agregar Asignatura
                    button.close(type='button', data-dismiss='modal') ×
                // Modal body
                .modal-body
                    form
                        .form-group
                            label(for='select-asignaturaPlan') Asignatura
                            select#select-asignaturaPlan.custom-select
                                option(value='0', selected='') Seleccione una asignatura
                            .valid-feedback Correcto
                            .invalid-feedback Seleccione una Asignatura
                        .form-group
                            label(for='select-requisitoAsignatura') Requisitos
                            select#select-requisitoAsignatura.custom-select(multiple='')
                                option(value='0', selected='') Seleccione las asignaturas
                                option(value='Ninguno') Ninguno
                            .valid-feedback Correcto
                            .invalid-feedback Seleccione los Requisitos de la Asignatura

                // Modal footer
                .modal-footer
                    div(style='text-align: center;')
                    button.btn.btn-danger(type='button', data-dismiss='modal') Close
                    

    include ./Components/footer.jade

    script(src='./js/jquery-3.3.1.min.js')
    script(src='./js/popper.min.js')
    script(src='./js/bootstrap.min.js')
    script(src='./js/ControladorDir_Academica.js') 