doctype html
html
  head
    title Registro de Edificios
    meta(charset='utf-8')
    link(rel='icon', href='./img/favicon.jpg', type='image/jpg')
    link(rel='stylesheet', href='./css/bootstrap.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='./css/misestilos.css')
    link(href='https://fonts.googleapis.com/css?family=Marcellus+SC', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Chicle', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Amatic+SC', rel='stylesheet')
  body

    include ./Components/navbar.jade

    nav(aria-label='breadcrumb')
        ol.breadcrumb
            li.breadcrumb-item
                a(href='/') Inicio
            li.breadcrumb-item
                a(href='seapi') SEAPI
            li.breadcrumb-item.active(aria-current='page') Edificios
    .container-fluid
        .col-md-12
            h1.display-6.text-center
                b Edificios
            hr(style='border:1px solid #dae0e5;')
            .row.justify-content-md-center.main_regEmpleado
                .col-md-12(style=' padding: 20px;')
                    .form-group.row.text-center
                        .col-sm-12
                            button.btn.btn-success.btn-lg(type='button', onclick='removerValidacionesEdificio()', data-toggle='modal', data-target='#registrarEdificio')
                                i.fa.fa-user-plus
                                |  Registrar
                #reg_Estudiante.col-md-12
                    .row.justify-content-md-center
                        .col-md-8
                            table#table-facultades.table.table-striped.table-bordered
                                thead
                                    tr
                                        th #
                                        th Edificio
                                        th Cantidad Aulas
                                        th Campus
                                tbody
    #registrarEdificio.modal.fade
        .modal-dialog
            .modal-content
                // Modal Header
                .modal-header
                    h4.modal-title Agregar Edificio
                    button.close(type='button', data-dismiss='modal') ×
                // Modal body
                .modal-body
                    form
                        .form-group
                            label(for='txt-edificio') Nombre del Edificio
                            input#txt-edificio.form-control(type='text', placeholder='Escriba el nombre')
                            .valid-feedback Correcto
                            .invalid-feedback Escriba el nombre del Edificio
                        .form-group
                            label(for='txt-cantAulas') Cantidad de Aulas
                            input#txt-cantAulas.form-control(type='number', placeholder='Escriba la Cantidad de Aulas')
                            .valid-feedback Correcto
                            .invalid-feedback Escriba la cantidad de Aulas
                        .form-group
                            label(for='select-campus') Campus
                            select#select-campus.custom-select
                                option(value='0', selected='') Seleccione el campus
                            .valid-feedback Correcto
                            .invalid-feedback Seleccione el Campus
                // Modal footer
                .modal-footer
                    div(style='text-align: center;')
                    button.btn.btn-danger(type='button', data-dismiss='modal') Close
                    button#btn_registrarEdificio.btn.btn-primary(onclick='guardarEdificio()', type='button') Registrar Edificio

    include ./Components/footer.jade

    script(src='./js/jquery-3.3.1.min.js')
    script(src='./js/popper.min.js')
    script(src='./js/bootstrap.min.js')
    script(src='./js/ControladorSeapi.js') 